
.cart-wrapper {

}

.cart-summary {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    /*margin-top: 20px;*/
    margin-bottom: 0.5em;
}


.cart-summary .info {
    vertical-align: top;
    border: 2px solid;
    border-radius: 15px;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}


.cart-content {
    display: inline-block;
    width: 78%;
    border: 2px solid;
    border-radius: 15px;
    margin-right: 1%;
    overflow: auto;
    /*max-height: 600px;*/
    max-height: 32em;
    min-height: 24em;
    margin-bottom: 0.5em;
}






.cart-item-img {
    display: inline-block;
    /*width: 1/9%;*/
    width: 10em;
    margin: 5px 1px 5px 5px;
}

.cart-item-content {
    display: inline-block;
    /*width: 79%;*/
    max-width: 40em;
}

ul.cart-item-list {
    list-style-type: none;
    margin-top: 20px;
    padding-right: 10px;
}

li.cart-item {
    border: 2px solid gray;
    height: 7em;
    margin-bottom: 5px;
    border-radius: 15px;
}

li.cart-item:hover {
    border: 2px solid black;
}

li.cart-item img {
    border-radius: 10px;
}

li.cart-item div.cart-item-content {
    display: inline-block;
    vertical-align: top;
}

div.cart-item-description {
    display: inline-block;
    /*width: 40%;*/
    width: 16em;
    height: 100%;
    overflow: hidden;
}

div.cart-item-description h2, p {
    margin-top: 5px;
    margin-bottom: 5px;
}

div.cart-item-description p {
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
    text-align: justify;

}

div.cart-item-control {
    display: inline-block;
    /*width: 42%;*/
    float: right;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 10px;
}

div.cart-item-control h2 {
    display: inline-block;
    /*width: 30%;*/
    width: 3em;
    vertical-align: middle;
}

div.cart-item-control div.quantity {
    display: inline-block;
    width: 4em;
    vertical-align: middle;
}

div.cart-item-control .remove-button {
    display: inline-block;
    /*width: 25%;*/
    vertical-align: middle;
}

div.cart-summary table {
    font-size: large;
}

div.cart-summary table tr.total {
    color: red;
    font-weight: bold;
}

div.cart-summary .button {
    display: block;
    border-radius: 10px;
    width: 80%;
    margin: 10px auto;
}

.item-slide {
    padding: 40px;
    padding-top: 5px;
    padding-bottom: 20px;
}

.item-slideshow {
    /*height: 18em;*/
    height: 18em;
    width: 60%;
}

div.responsive {
    margin-bottom: 1px
}

@media only screen and (max-width: 1000px) {
    .cart-summary, .cart-content {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }
}

@media only screen and (max-width: 777px) {
    div.cart-item-description p {
        /*overflow: hidden;*/
        /*white-space: nowrap;*/
        /*text-overflow: ellipsis;*/
        display: none;
    }

    div.cart-item-description {
        width: auto;
    }

    div.cart-item-description h2 {
        display: inline;
        position: absolute;
        width: auto;
    }


}



/* testing horizontal banner*/
div.item-banner {
    padding: 10px;
}

div.item-banner a {
    display: inline-block;
    width: 49%;
}

div.item-banner div.desc {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

span.desc span.title {
    font-size: medium;
    white-space: nowrap;
    overflow: hidden;
}

span.desc span.price {
    font-size: large;
    display: inline;
}

span.desc span.note {
    display: inline;
}

span.desc {
    display: block;
    float: left;
    vertical-align: top;
    margin-bottom: 3px;
    margin-top: 3px;
}

.item-slideshow {
    height: 8em;
    width: 90%;
}




