/* General CSS */

/*
color management
header foot:
    background: floralwhite
    link: black

highlight: #008CBA
*/

body {
    height: 100%;
    margin: 0;
}

div.content {
    margin: 7em 1em 5em;
}

*:focus {
    outline:none;
}

.button {
    background-color: #008CBA; /* Green */
    color: white;

    /*border: none;*/
    border: 2px solid #008CBA;

    /*padding: 16px 32px;*/
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

    box-sizing: border-box;

    /*border-radius: 5%;*/
    border-radius: 10px;
}

.button:hover {
    background-color: white;
    color: black;
}

.button:disabled {
    /*background-color: #4CAF50;*/
    opacity: 0.6;
}

.button:disabled:hover {
    /*background-color: #4CAF50;*/
    opacity: 0.6;
    background-color: #008CBA; /* Green */
    color: white;
}

.button.to-top {
    display: none;
    position: fixed;
    bottom: 5em;
    right: 1em;
    z-index: 120;
    font-size: 18px;
    /*border: none;*/
    outline: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 100%;
}




/* Header footer CSS*/

header {
    /*to on top*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

nav ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 2em;
    overflow: hidden;
    background-color: floralwhite;
    height: 4em;
    /*to on top*/
    /*position: fixed;*/
    /*top: 0;*/
    /*width: 100%;*/
    border-bottom: 2px solid red;
}

nav ul.nav li {
    float: left;
    /*margin-top: 2em;*/
    margin-left: 15px;
    margin-right: 15px;
}

nav ul.nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    border-radius: 10px;
}

nav ul.nav li a.logo.main-logo img {
    /*display: block;*/
    width: 150px;
    height: 70px;
    margin-top: -20px;
}

div.cart-label-info {
    display: inline-block;
    margin-top: 10px;
    vertical-align: top;
}

nav ul.nav li a span.num-items {
    /*vertical-align: top;*/
}

nav ul.nav li a span.total-price {
    /*vertical-align: bottom;*/
}

nav ul.nav li a .acc-info {
    vertical-align: top;
    margin-top: 10px;
}

nav ul.nav li a div.acc-info {
    vertical-align: top;
    margin-top: 10px;
    display: inline-block;
}



nav ul.nav li a:hover:not(.active) {
    background-color: #008CBA;
    color: white;
}

.active {
    /*background-color: #4CAF50;*/
    background-color: #008CBA;
    color: white;
}

nav ul.nav li a.active {
    color: white;
}

nav ul.nav li.icon {
    display: none;
}

nav ul.nav .link-right {
    float: right;
}

nav ul.nav li a.logo {
    padding: 2px 2px;
}

nav ul.nav li a.logo.main-logo:hover {
    background-color: transparent;
}


@media screen and (max-width: 980px) {
    nav.navbar ul.nav li:not(:first-child) {
        display: none;
    }
    nav.navbar ul.nav li.icon {
        float: right;
        display: block;
        /*margin-top: 0.5em;*/

    }
    nav.navbar ul.nav li.icon a {
        padding: 5px 5px;
    }
/*}*/

/*@media screen and (max-width: 900px) {*/
    nav.navbar.nav-responsive {
        position: relative;
    }
    nav.navbar.nav-responsive ul.nav li.icon {
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 2em;
    }
    nav.navbar.nav-responsive ul.nav li.nav-logo {
        float: left;
        display: block;
        text-align: left;
        padding-top: 2px;
        padding-bottom: 2px;
        margin-top: 0.7em;
    }
    nav.navbar.nav-responsive ul.nav li.nav-link {
        float: none;
        display: block;
        text-align: left;
        padding-top: 2px;
        padding-bottom: 2px;
        margin-top: 0.2em;
    }
    nav.navbar.nav-responsive ul.nav {
        height: 28em;
    }

    .link-right {
        float: none;
    }
}



footer {
    text-align: center;
    display: block;
    background-color: floralwhite;
    color: black;
    padding: 14px 12px;
    text-decoration: none;

    /*fixed footer*/
    width: 100%;
    /*position: fixed;*/
    /*left: 0;*/
    /*bottom: 0;*/
    padding: 0;
    margin: 0;
    border-top: 2px solid red;
}


.generic-anchor {
    color: #57739a;
}

.generic-anchor:visited {
    color: #57739a;
}

.generic-anchor:hover {
    color: #57739a;
}

.footer-list-anchor {
    font: 1.3em "Open Sans", sans-serif
}


.footer-list {
    display: inline-block;
    width: 19%;
    padding-right: 0px;
    padding-left: 0px;
    list-style-type: none;
    vertical-align: top;
    margin-top: 5px;
}

.footer-list li {
    text-align: center;
    padding-bottom: 10px
}

.footer-list h4 {
    padding: 10px 0 5px 0;
    color: black;
    font: 2.3vw "Oswald", sans-serif;
    margin-top: 0.6em;
    margin-bottom: 0.2em;
}

.footer-list a {
    text-decoration: none
}

.footer-list.info {
    width: 40%;
}

.footer-list.info * {
    text-align: left;
}

.footer-list.info img {
    width: 30px;
    height: 30px;
    display: inline;
}

.footer-list.info p {
    display: inline-block;
}

.footer-list.info .contact-info p, .footer-list.info .contact-info a {
    margin-bottom: 0.5em;
    vertical-align: top;
    margin-top: 0.3em;
    margin-left: 0.5em;
    text-decoration: none
}

.footer-list.info .contact-info a {
    color: #57739a;
    margin-left: 0;
}

.footer-list.info .contact-info a:visited {
    color: #57739a;
}

.footer-list.info .contact-info a:hover {
    color: #57739a;
}



.footer-list.info h4 {
    margin-bottom: 0.5em;
}


.contact-info {
    display: block;
    width: 100%;
}

/*$primary-light-blue: #8DB9ED;*/
/*$primary-line-color: #ccc;*/

/*.flex-rw {*/
    /*display: flex;*/
    /*flex-flow: row wrap;*/
/*}*/

/*.footer-list-top {*/
    /*width: 33.333%*/
/*}*/
/*.footer-list-top > li {*/
    /*text-align: center;*/
    /*padding-bottom: 10px*/
/*}*/
/*.footer-list-header {*/
    /*padding: 10px 0 5px 0;*/
    /*color: #fff;*/
    /*font: 2.3vw "Oswald", sans-serif*/
/*}*/
/*.footer-list-anchor {*/
    /*font: 1.3em "Open Sans", sans-serif*/
/*}*/
/*.footer-social-section {*/
    /*width: 100%;*/
    /*align-items: center;*/
    /*justify-content: space-around;*/
    /*position: relative;*/
    /*margin-top: 5px;*/
/*}*/
/*.footer-social-section::after {*/
    /*content: "";*/
    /*position: absolute;*/
    /*z-index: 1;*/
    /*top: 50%;*/
    /*left: 10px;*/
    /*border-top: 1px solid #8DB9ED;*/
    /*width: calc(100% - 20px)*/
/*}*/
/*.footer-social-overlap {*/
    /*position: relative;*/
    /*z-index: 2;*/
    /*background: rgb(55,55,55);*/
    /*padding: 0 20px*/
/*}*/
/*.footer-social-connect {*/
    /*display: flex;*/
    /*align-items: center;*/
    /*font: 3.5em "Oswald", sans-serif;*/
    /*color: #fff*/
/*}*/
/*.footer-social-small {*/
    /*font-size: 0.6em;*/
    /*padding: 0px 20px*/
/*}*/
/*.footer-social-overlap > a {*/
    /*font-size: 3em*/
/*}*/
/*.footer-social-overlap > a:not(:first-child) {*/
    /*margin-left: 0.38em*/
/*}*/
/*.footer-bottom-section {*/
    /*width: 100%;*/
    /*padding: 10px;*/
    /*border-top: 1px solid #ccc;*/
    /*margin-top: 10px*/
/*}*/
/*.footer-bottom-section > div:first-child {*/
    /*margin-right: auto*/
/*}*/
/*.footer-bottom-wrapper {*/
    /*font-size: 1.5em;*/
    /*color: #fff*/
/*}*/
/*.footer-address {*/
    /*display: inline;*/
    /*font-style: normal*/
/*}*/


/* -------------------- TABS -------------------------------*/
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    border-radius: 15px;
}

/* Style the buttons inside the tab */
.tab .tablinks {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab .tablinks:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab .tablinks.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /*border: 1px solid #ccc;*/
    /*border-top: none;*/
}

form.search {
    float: right;
    margin: 0;
    margin-top: 10px;
    margin-right: 10px;
}

form.search input[type=text] {
    padding: 5px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    border-radius: 0;
    margin: 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

form.search button {
    float: left;
    display: inline-block;
    width: 20%;
    height: auto;
    margin: 0;
    padding: 5px;
    /*background: #2196F3;*/
    /*color: white;*/
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
form.search button img {
    height: auto;
}
/*form.search button:hover {*/
    /*background: #0b7dda;*/
/*}*/

form.search::after {
    content: "";
    clear: both;
    display: table;
}

/* QUANTITY SPINNER */
/*Quantity spinner*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]
{
    -moz-appearance: textfield;
}

div.quantity {
    display: inline-block;
    vertical-align: middle;
}

.quantity input {
    /*width: 45px;*/
    width: 100%;
    height: 42px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: 1px solid #eee;
}

.quantity input:focus {
    outline: 0;
}

.quantity-nav {
    float: left;
    position: relative;
    height: 42px;
}

.quantity-button {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 20px;
    text-align: center;
    color: #333;
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.7;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;
    border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
    position: absolute;
    bottom: -1px;
    height: 50%;
}



/* -------------------- COMPONENTS -------------------------*/

div.responsive {
    padding: 3px 6px;
    float: left;
    /*width: 24.99999%;*/
    margin-bottom: 30px;
    margin-left: 1%;
    margin-right: 1%;
    width: 31%;
}

.dot-line {
    text-align:center
}


@media only screen and (max-width: 700px) {
    div.responsive {
        width: 47.99999%;
        /*margin: 6px 0;*/
    }
    .dot-line {
        display: none;
    }
    div.content {
        margin-bottom: 30em;
    }
}

@media only screen and (max-width: 500px) {
    div.responsive {
        width: 100%;
    }
    .dot-line {
        display: none;
    }
    div.content {
        margin-bottom: 55em;
    }
}

div.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*----------------- ITEM BANNER --------------------- */
div.item-banner {
    /* responsive */
    border: 3px solid #ccc;
    border-radius: 20px;
}

div.item-banner:hover {
    border: 3px solid #777;
    /*overflow: hidden*/
}

div.item-banner img {
    width: 98%;
    height: auto;
    margin: 1%;
    border-radius: 5%;
    transition: transform .2s;
}

div.item-banner img:hover {
    transform: scale(1.06, 1.08);
}

div.item-banner {
    padding: 5px;

    text-align: center;
}

div.responsive, div.item-banner {
    /*box-sizing: border-box*/
    box-sizing: border-box;
}

div.desc {
    display: block;
    text-align: center;
    /*overflow: auto;*/
    width: 100%;
}


span.desc {
    display: block;
    float: left;
    vertical-align: middle;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    /*border: 2px solid transparent;*/
    /*padding: 8px 16px;*/
    /*margin: 4px 2px;*/
}


span.desc span.title {
    display: block;
    color: red;
    font-size: x-large;
    text-align: left;

    white-space: nowrap;
    overflow: hidden;
}

span.desc span.price {
    display: inline-block;
    font-size: xx-large;
    text-align: left;
    font-weight: bold;
}

span.desc .price-tag {
    text-align: left;
}

span.desc span.price.minus {
    text-decoration: line-through;
    font-size: medium;
}


span.desc span.promoted-price {
    display: inline-block;
    font-size: xx-large;
    text-align: left;
    font-weight: bold;
    color: red;
}

span.desc span.note {
    display: block;
    text-align: left;
}

button.button.desc {
    display: block;
    /*float: right;*/
    width: 100%;
    margin: 0;
}

span.diet {
    float: right;
}
span.diet img {
    display: inline;
    width: 1.1em;
}

.button.button-menu-filter {
    background-color: white;
    color: black;
}


.button.button-menu-filter.active {
    background-color: #008CBA; /* Green */
    color: white;
}

div.menu-filter {
    /*margin: auto;*/
    width: 30em;
    display: inline-block;
}

span.menu-filter-label {
    font-size: x-large;
    font-weight: bold;
    color: #008CBA;
}

/* The Modal (background) */
div.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 20; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*overflow: hidden; !* Enable scroll if needed *!*/
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    /*-webkit-transition-duration: 0.4s; !* Safari *!*/
    /*transition-duration: 0.4s;*/

    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.2s;
    animation-name: fade;
    animation-duration: 0.2s;
}

div.modal.display {
    display: block;
    /*overflow: auto;/*/
    /*position: fixed;*/
}

.modal-open {
    overflow: visible;
    position: absolute;
    width: 100%;
    height:100%;
}


/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    /*margin: 15% auto; !* 15% from the top and centered *!*/
    margin-top: 10em;
    margin-bottom: 10em;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    /*width: 51%; !* Could be more or less, depending on screen size *!*/
    border-radius: 20px;

    /*-webkit-transition-duration: 0.4s; !* Safari *!*/
    /*transition-duration: 0.4s;*/
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

div.modal-content-inside {
    margin-top: 10px;
}

div.modal-content-inside.confirm {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

div.modal-content-inside div.image {
    display: inline-block;
    width: 46%;
    /*width: 90%;*/
    padding: 1%;
}

div.modal-content-inside div.image img {
    width: 100%;
    /*margin: 10px;*/
    height: auto;
    border-radius: 10px;
}

div.modal-content-inside div.detail {
    display: inline-block;
    width: 46%;
    /*width: 90%;*/
    padding: 1%;
    vertical-align: top;

}

div.modal-content-inside div.detail span.title {
    display: block;
    color: black;
    font-size: xx-large;
    text-align: left;
}

div.modal-content-inside div.detail div.pricing {
    display: inline-block;
    width: 47%;
    padding: 1%;
}

div.modal-content-inside div.detail div.pricing span.price {
    display: block;
    font-size: xx-large;
    text-align: left;
    font-weight: bold;
}

div.modal-content-inside div.detail div.pricing span.note {
    display: block;
    text-align: left;
}

div.modal-content-inside div.detail button {
    display: inline-block;
    /*height: 100%;*/
    width: 48%;
    margin: 0;
}


@media only screen and (max-width: 1028px) {

    div.modal-content-inside div.detail {
        /*width: 46%;*/
        width: 90%;
    }
    div.modal-content-inside div.image {
        /*width: 46%;*/
        width: 90%;
    }

    .modal-content {
        /*width: 51%;*/
        width: 80%;
    }

}


/* ------------------------- SLIDE SHOW ---------------------------*/

div.slideshow-wrapper {
}


/* Slideshow container */
div.slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
    height: 400px;

}

/* Hide the images by default */
div.slide {
    display: none;
}

img.slide-img {
    height: 400px;
    display: block;
    margin: auto;
}

/* Next & previous buttons */
a.prev, a.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: gray;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
a.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
a.prev:hover, a.next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
div.caption {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
div.number-text {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
span.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


/* ------------------------- SLIDE SHOW for QUOTES ---------------------------*/

div.quote-slideshow-wrapper {

}

.quote-slideshow {
    position: relative;
    background: #f1f1f1f1;
}

/* Slides */
.quote-slide {
    display: none;
    padding: 80px;
    text-align: center;
}

/* Add a blue color to the author */
.quote-slide .author {color: cornflowerblue;}

/* Next & previous buttons */
.quote-slide-prev, .quote-slide-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.quote-slide-next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.quote-slide-prev:hover, .quote-slide-next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

/* The dot/bullet/indicator container */
.quote-slideshow-dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

/* The dots/bullets/indicators */
.quote-slide-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.quote-slide-dot.active, .quote-slide-dot:hover {
    background-color: #717171;
}


/* Add an italic font style to all quotes */
q {font-style: italic;}


/* ------------------------- SLIDE SHOW for item banner ---------------------------*/
div.item-slideshow-wrapper {

}

.item-slideshow {
    position: relative;
    /*background: #f1f1f1f1;*/
    max-width: 1000px;
    margin: auto;
    height: 55%;
}

.item-slideshow-container {
    display: block;
    margin: auto;
    width: 100%;
}

/* Slides */
.item-slide {
    display: none;
    padding: 80px;
    text-align: center;
}

.item-slide p {
    text-align: justify;
}

/* Next & previous buttons */
.item-slide-prev, .item-slide-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.item-slide-next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.item-slide-prev:hover, .item-slide-next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

/* The dot/bullet/indicator container */
.item-slideshow-dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

/* The dots/bullets/indicators */
.item-slide-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.item-slide-dot.active, .item-slide-dot:hover {
    background-color: #717171;
}


@media only screen and (max-width: 1028px) {

    div.modal-content-inside div.detail {
        /*width: 46%;*/
        width: 90%;
    }
    div.modal-content-inside div.image {
        /*width: 46%;*/
        width: 90%;
    }

    .modal-content {
        /*width: 51%;*/
        width: 80%;
    }



}




/* ------------------------------------Forms ------------------------------------------------*/
form label, select {
    float: left;
    width: 25%;
    margin-top: 6px;


    padding: 12px 12px 12px 0;
    padding-right: 2px;
    display: inline-block;
}

form input, textarea, td input, select {
    float: left;
    width: 74%;
    margin-top: 6px;


    /*width: 100%;*/
    padding: 12px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: vertical;
}

form .button {
    display: inline;
    /* float: left; */
    margin-top: 20px;
}


/* Clear floats after the columns */
/* FIXME: what is this!*/
form .row:after {
    content: "";
    display: table;
    clear: both;
}



/*------------- TABLE ------------*/
table {
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

table td, th {
    text-align: left;
    padding: 8px;
    color: black;
}

table tr:nth-child(even) {
    background-color: #f2f2f2
}

table th {
    background-color: #008CBA;
    color: white;
}