/* General CSS */

div.content {
    margin-top: 55px;
    margin-bottom: 110px;
}


.button {
    background-color: #008CBA; /* Green */

    /*border: none;*/
    border: 2px solid #008CBA;

    color: white;
    /*padding: 16px 32px;*/
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

    box-sizing: border-box;

    border-radius: 5%;
}

.button:hover {
    background-color: white;
    color: black;
    /*border: 2px solid #008CBA;*/
    box-sizing: border-box;
}

/* Header footer CSS*/

header {
    /*to on top*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

nav ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

    /*to on top*/
    /*position: fixed;*/
    /*top: 0;*/
    /*width: 100%;*/
}

nav ul.nav li {
    float: left;
}

nav ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul.nav li a.logo {
    padding: 2px 2px;
}

nav ul.nav li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

footer {
    text-align: center;
    display: block;
    background-color: #333;
    color: white;
    padding: 14px 12px;
    text-decoration: none;

    /*width: 100%;*/
    /*position: absolute;*/
    /*left: 0;*/

    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

/* -------------------- COMPONENTS -------------------------*/

div.responsive {
    padding: 3px 6px;
    float: left;
    /*width: 24.99999%;*/
    margin-bottom: 30px;
    margin-left: 1%;
    margin-right: 1%;
    width: 31%;
}

@media only screen and (max-width: 700px) {
    div.responsive {
        width: 47.99999%;
        /*margin: 6px 0;*/

    }
}

@media only screen and (max-width: 500px) {
    div.responsive {
        width: 100%;
    }
}

div.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*----------------- ITEM BANNER --------------------- */
div.item-banner {
    /* responsive */
    border: 3px solid #ccc;
}

div.item-banner:hover {
    border: 3px solid #777;
    /*overflow: hidden*/
}

div.item-banner img {
    width: 98%;
    height: auto;
    margin: 1%;
    border-radius: 5%;
}

div.item-banner {
    padding: 15px;
    text-align: center;
}

div.responsive, div.item-banner {
    /*box-sizing: border-box*/
    box-sizing: border-box;
}

div.desc {
    display: block;
    text-align: center;
    /*overflow: auto;*/
    width: 100%;
}


span.desc {
    display: block;
    float: left;
    vertical-align: middle;
    margin-bottom: 10px;
    margin-top: 10px;
    /*border: 2px solid transparent;*/
    /*padding: 8px 16px;*/
    /*margin: 4px 2px;*/
}


span.desc span.title {
    display: block;
    color: red;
    font-size: x-large;
    text-align: left;
}

span.desc span.price {
    display: block;
    font-size: xx-large;
    text-align: left;
    font-weight: bold;
}

span.desc span.note {
    display: block;
    text-align: left;
}

button.button.desc {
    display: block;
    /*float: right;*/
    width: 100%;
    margin: 0;
}


/* The Modal (background) */
div.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

div.modal-content-inside {
    margin-top: 10px;
}

div.modal-content-inside div.image {
    display: inline-block;
    width: 47%;
    padding: 1%;
}

div.modal-content-inside div.image img {
    width: 100%;
    /*margin: 10px;*/
    height: auto;
}

div.modal-content-inside div.detail {
    display: inline-block;
    width: 47%;
    padding: 1%;
    vertical-align: top;

}

div.modal-content-inside div.detail span.title {
    display: block;
    color: black;
    font-size: xx-large;
    text-align: left;
}

div.modal-content-inside div.detail div.pricing {
    display: inline-block;
    width: 47%;
    padding: 1%;
}

div.modal-content-inside div.detail div.pricing span.price {
    display: block;
    font-size: xx-large;
    text-align: left;
    font-weight: bold;
}

div.modal-content-inside div.detail div.pricing span.note {
    display: block;
    text-align: left;
}


div.modal-content-inside div.detail button {
    display: inline-block;
    /*height: 100%;*/
    width: 48%;
    margin: 0;
}


/* ------------------------- SLIDE SHOW ---------------------------*/

div.slideshow-wrapper {
}


/* Slideshow container */
div.slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
    height: 400px;

}

/* Hide the images by default */
div.slide {
    display: none;
}

img.slide-img {
    height: 400px;
    display: block;
    margin: auto;
}

/* Next & previous buttons */
a.prev, a.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: gray;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
a.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
a.prev:hover, a.next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
div.caption {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
div.number-text {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
span.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


/* ------------------------- SLIDE SHOW for QUOTES ---------------------------*/

div.quote-slideshow-wrapper {

}

.quote-slideshow {
    position: relative;
    background: #f1f1f1f1;
}

/* Slides */
.quote-slide {
    display: none;
    padding: 80px;
    text-align: center;
}

/* Add a blue color to the author */
.quote-slide .author {color: cornflowerblue;}

/* Next & previous buttons */
.quote-slide-prev, .quote-slide-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.quote-slide-next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.quote-slide-prev:hover, .quote-slide-next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

/* The dot/bullet/indicator container */
.quote-slideshow-dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

/* The dots/bullets/indicators */
.quote-slide-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.quote-slide-dot.active, .quote-slide-dot:hover {
    background-color: #717171;
}


/* Add an italic font style to all quotes */
q {font-style: italic;}


/* ------------------------- SLIDE SHOW for item banner ---------------------------*/


div.item-slideshow-wrapper {

}

.item-slideshow {
    position: relative;
    /*background: #f1f1f1f1;*/
    max-width: 1000px;
    margin: auto;
    height: 50%;
}

.item-slideshow-container {
    display: block;
    margin: auto;
    width: 100%;
}

/* Slides */
.item-slide {
    display: none;
    padding: 80px;
    text-align: center;
}


/* Next & previous buttons */
.item-slide-prev, .item-slide-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.item-slide-next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.item-slide-prev:hover, .item-slide-next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

/* The dot/bullet/indicator container */
.item-slideshow-dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

/* The dots/bullets/indicators */
.item-slide-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.item-slide-dot.active, .item-slide-dot:hover {
    background-color: #717171;
}
